<!-- Banner -->
<section class="banner {{ .style }}">
    <div class="content">
        {{ with .title }}<h1>{{ . }}</h1>{{ end }}
        {{ with .subtitle }}<p class="major">{{ . | safeHTML }}</p>{{ end }}
        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
        {{ with .button }}<ul class="actions stacked">
            <li><a href="#form" class="button primary large wide smooth-scroll-middle">Kontakta oss</a></li>
            <li><a href="{{ .link }}" class="button secondary large wide smooth-scroll-middle">{{ .label }}</a></li>
        </ul>{{ end }}
    </div>
    {{ with .image }}<div class="image">
        <picture>
            {{ $webpPath:= replace . ".jpg" ".webp" }}
        
            <source srcset="{{ $webpPath | safeURL }}" type="image/webp" >
        
            {{ $img := imageConfig (add "/static/" (. | safeURL)) }}
        
            <img
            src="{{ . | safeURL }}"
            alt="Företagsstäd i Jämtand AB"
            loading="lazy"
            decoding="async"
            width="{{ $img.Width }}"
            height="{{ $img.Height }}"
            />
        </picture>
    {{end}}
</section>