<!-- Spotlight -->
<section class="spotlight {{ .style }}" id="{{ .id }}">
    <div class="content">
        {{ with .title }}<h2>{{ . }}</h2>{{ end }}
        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
        {{ with .button }}<ul class="actions stacked">
            <li><a href="{{ .link }}" class="button smooth-scroll-middle" onclick="document.getElementById('service').value = '{{ .service }}'">{{ .label }}</a></li>
        </ul>{{ end }}
    </div>
    {{ with .image }}<div class="image">
        <picture>
            {{ $webpPath:= replace . ".jpg" ".webp" }}
        
            <source srcset="{{ $webpPath | safeURL }}" type="image/webp" >
        
            {{ $img := imageConfig (add "/static/" (. | safeURL)) }}

            <img
            src="{{ . | safeURL }}"
            alt="Våra tjänster"
            loading="lazy"
            decoding="async"
            width="{{ $img.Width }}"
            height="{{ $img.Height }}"
            />
        </picture>
    </div>{{ end }}
</section>